<%- include('includes/header.ejs') %>
<%- include('includes/navigation.ejs') %>

    <div class="container-fluid">
        <div class="row col-sm-10 mx-auto">
           <p class="text-justify display-5 mt-3">
                I use open Weather api in this node simple fetching project,Current Weather Data API doc Subscribe. Access current weather data for any location including over 200,000 cities. We collect and process weather data from different sources such as global and local weather models, satellites, radars and a vast network of weather stations..
           </p>
        </div>
    </div>

<%- include('includes/footer.ejs') %>